:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.signal-container {
  padding: 1rem;
}

@media (min-width: 672px) {
  .signal-container {
    padding: 1.5rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
